In [1]:
import pandas as pd

data = {
    'A': [1, 2, None, 4], 
    'B': [None, 2, 3, 4]
    }
df = pd.DataFrame(data)

# Check for missing values
print(df.isnull())

# Count missing values in each column
print(df.isnull().sum())

       A      B
0  False   True
1  False  False
2   True  False
3  False  False
A    1
B    1
dtype: int64

In [14]:
# The dropna() method without any arguments will drop all rows that contain at least one NaN value. 
# In the example, the second row (index 1) and the third row (index 2) contain NaN values in columns 'A' and 'B' respectively.
# Therefore, these rows are removed.

In [12]:
# Drop rows with any missing values
data = {'A': [1, 2, None, 4], 'B': [None, 2, 3, 4], 'C': [5, None, 7, 8]}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

# Drop rows with any missing values
df_dropped_any = df.dropna()
print("\nDataFrame after dropping rows with any missing values:")
print(df_dropped_any)

Original DataFrame:
     A    B    C
0  1.0  NaN  5.0
1  2.0  2.0  NaN
2  NaN  3.0  7.0
3  4.0  4.0  8.0

DataFrame after dropping rows with any missing values:
     A    B    C
3  4.0  4.0  8.0

In [6]:
# Drop rows with all missing values
df_dropped_all = df.dropna(how='all')
df_dropped_all

     A    B
0  1.0  NaN
1  2.0  2.0
2  NaN  3.0
3  4.0  4.0

In [9]:
# Drop columns with any missing values
df_dropped_columns_any = df.dropna(axis=1)
df_dropped_columns_any

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [11]:
# Drop columns with all missing values
df_dropped_columns_all = df.dropna(axis=1, how='all')
df_dropped_columns_all

     A    B
0  1.0  NaN
1  2.0  2.0
2  NaN  3.0
3  4.0  4.0