In [1]:

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder

In [2]:
# Load the dataset
file_path = 'data/re_dummy.csv'
df = pd.read_csv(file_path)

# Display the first few rows of the dataset
df.head()

,Property Price,Size (sq ft),Bedrooms,Bathrooms,City,Year Built,Energy Efficiency Rating
0,250000,1500,3,2,New York,2001,A
1,320000,2000,4,3,Los Angeles,1995,B
2,180000,1200,2,1,Chicago,2010,A
3,450000,2500,5,4,Houston,1980,C
4,275000,1800,3,2,Miami,2005,B

In [3]:

# Handle categorical columns using OneHotEncoding
df_encoded = pd.get_dummies(df, columns=["City", "Energy Efficiency Rating"], drop_first=True)
df_encoded.head()

,Property Price,Size (sq ft),Bedrooms,Bathrooms,Year Built,City_Houston,City_Los Angeles,City_Miami,City_New York,Energy Efficiency Rating_B,Energy Efficiency Rating_C
0,250000,1500,3,2,2001,False,False,False,True,False,False
1,320000,2000,4,3,1995,False,True,False,False,True,False
2,180000,1200,2,1,2010,False,False,False,False,False,False
3,450000,2500,5,4,1980,True,False,False,False,False,True
4,275000,1800,3,2,2005,False,False,True,False,True,False

In [5]:

# Separate features and target
X = df_encoded.drop(columns=["Property Price"])
y = df_encoded["Property Price"]

In [6]:
# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [7]:

# Create and fit the Linear Regression model
reg = LinearRegression()
reg.fit(X_train, y_train)

LinearRegression()

In [8]:
# Evaluate the model on the test set
score = reg.score(X_test, y_test)
print(f"Model R-squared score: {score}")

Model R-squared score: 1.0

In [12]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
# Make predictions on the test set
y_pred = reg.predict(X_test)

# Calculate regression metrics
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = mean_squared_error(y_test, y_pred, squared=False)
r2 = r2_score(y_test, y_pred)

# Print all metrics
print(f"Mean Absolute Error (MAE): {mae}")
print(f"Mean Squared Error (MSE): {mse}")
print(f"Root Mean Squared Error (RMSE): {rmse}")
print(f"R-squared score: {r2}")

Mean Absolute Error (MAE): 1.210719347000122e-08
Mean Squared Error (MSE): 2.114627917215728e-16
Root Mean Squared Error (RMSE): 1.4541760269017393e-08
R-squared score: 1.0